body {
  margin: 12px;
}

td {
  padding-right: 16px;
  padding-bottom: 10px;
}

fieldset {
  margin-bottom: 16px;
}

button {
  min-width: 80px;
  padding: 4px 8px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.input-date {
  width: 65px;
  margin-right: 8px;
}

.espacamento {
  padding: 0px 12px;
}

#rg {
  width: 145px;
}

#cpf {
  width: 100px;
}

#cep, #numero {
  width: 80px;
}

#cpf2, #cep2 {
  width: 50px;
}

.button1 {
  margin-right: 4px;
}
