<template>
  <div class="tela">
    <div class="create">
      <h1>É novo por aqui?</h1>
      <h2>Crie seu usuario</h2>
      <img src="../../assets/image/login.png" alt="criar" width="200" />
      <form class="form">
        <div class="label-float">
          <input
            type="text"
            placeholder=" "
            v-model="usuario"
            style="width: 100%"
          />
          <label>Usuario</label>
        </div>
        <div class="label-float">
          <input
            type="password"
            placeholder=" "
            v-model="senha"
            style="width: 100%"
          />
          <label>Senha</label>
        </div>
        <div class="label-float">
          <input
            type="text"
            placeholder=" "
            v-model="nome"
            style="width: 100%"
          />
          <label>Nome Completo</label>
        </div>
        <div class="doubleInput">
          <div class="label-float">
            <input
              type="date"
              placeholder=" "
              v-model="data"
              style="width: 100%"
            />
            <label>Data de Nascimento</label>
          </div>
          <div class="label-float">
            <input
              type="text"
              placeholder=" "
              v-model="sexo"
              style="width: 100%"
            />
            <label>Sexo</label>
          </div>
        </div>
        <div class="label-float" :class="cpfValide ? '' : 'label-float-error'">
          <input
            type="text"
            placeholder=" "
            v-model="cpf"
            style="width: 100%"
            id="cpf"
            v-mask="['###.###.###-##']"
          />
          <label :class="cpfValide ? '' : 'text-red'">CPF</label>
          <div v-if="!cpfValide" class="error text-red">CPF invalido</div>
        </div>
        <div class="label-float">
          <input
            type="text"
            placeholder=" "
            v-model="logradouro"
            style="width: 100%"
          />
          <label>Logradouro</label>
        </div>
        <div class="doubleInput">
          <div class="label-float">
            <input
              type="number"
              placeholder=" "
              v-model="numero"
              style="width: 100%"
            />
            <label>Número do Logradouro</label>
          </div>
          <div class="label-float">
            <input
              type="text"
              placeholder=" "
              v-model="cep"
              style="width: 100%"
              v-mask="['#####-###']"
            />
            <label>CEP</label>
          </div>
        </div>
        <div class="label-float">
          <input
            type="text"
            placeholder=" "
            v-model="cidade"
            style="width: 100%"
          />
          <label>Cidade</label>
        </div>
        <div class="label-float">
          <input
            type="text"
            placeholder=" "
            v-model="uf"
            style="width: 100%"
            v-mask="['AA']"
          />
          <label>UF</label>
        </div>
        <Button style="margin-bottom: 24px" palavra="Criar" @clique="criar()" />
      </form>
      <h2>Ja possui usuario?</h2>
      <Button palavra="Entrar" @clique="entrar()" />
    </div>
  </div>
</template>

<script>
import Button from "@/components/atoms/Button.vue";
import { mask } from "vue-the-mask";

export default {
  name: "criarTemplate",
  components: {
    Button,
  },
  directives: { mask },

  data: function () {
    return {
      nome: null,
      data: null,
      sexo: null,
      cpf: "",
      logradouro: null,
      numero: null,
      cep: null,
      cidade: null,
      uf: null,
      usuario: null,
      senha: null,
      cpfValide: true,
    };
  },

  methods: {
    criar() {
      if (this.cpf.length == 14 && this.usuario.length) {
        console.log("CERTO");
        this.cpfValide = true;
        this.save();
        window.alert("Usuario Criado");
        this.$router.push("/");
      } else {
        console.log("ERRADO");
        this.cpfValide = false;
        document.getElementById("cpf").focus();
      }
    },

    save() {
      localStorage.setItem("Nome", this.nome);
      localStorage.setItem("Data", this.data);
      localStorage.setItem("Sexo", this.sexo);
      localStorage.setItem("CPF", this.cpf);
      localStorage.setItem("Logradouro", this.logradouro);
      localStorage.setItem("Numero", this.numero);
      localStorage.setItem("CEP", this.cep);
      localStorage.setItem("Cidade", this.cidade);
      localStorage.setItem("Uf", this.uf);
      localStorage.setItem("Usuario", this.usuario);
      localStorage.setItem("Senha", this.senha);
    },

    entrar() {
      console.log("ENTRAR");
      this.$router.push("/");
    },
  },
};
</script>

<style>
.tela {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-red {
  color: red !important;
}

.error {
  text-align: start;
  padding-left: 4px;
}

.create {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.doubleInput {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.label-float {
  position: relative;
  padding-top: 13px;
  width: 100%;
}

.label-float input {
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance:none;
  border-radius: 0;
}

.label-float input:focus {
  border-bottom: 2px solid #3951b2;
}

.label-float-error input:focus {
  border-bottom: 2px solid red !important;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float input:required:invalid + label {
  color: red;
}
.label-float input:focus:required:invalid {
  border-bottom: 2px solid red;
}
.label-float input:required:invalid + label:before {
  content: "*";
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
  font-size: 13px;
  margin-top: 0;
  color: #3951b2;
}
</style>
