<template>
  <div class="footer">
    <div class="display">
      <img src="../../assets/image/health-care.svg" alt="" width="50" srcset="" @click="goHome()">
      <div class="itens">
        <div v-for="i in menu" :key="i">
          <router-link class="router-link" :to="i">{{ i }}</router-link>
        </div>
      </div>
    </div>
    <div class="icones">
      <a href="https://www.facebook.com/UNASP/"><img src="../../assets/image/facebook.png" alt="logo" width="30" srcset=""></a>
      <a href="https://www.instagram.com/unaspbr/"><img src="../../assets/image/instagram.png" alt="logo" width="30" srcset=""></a>
    </div>
  </div>
</template>

<script>
export default {
  name: "FooterTemplate",

  setup() {
    const menu = ["home", "imc", "quem-somos"];

    return {
      menu,
    };
  },

  methods: {
    goHome() {
      this.$router.push("/home");
    },
  },
};
</script>

<style scoped>
.footer {
  width: 100%;
  background-color: #06b1b1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itens {
  column-gap: 60px;
}

.router-link {
  text-decoration: none;
  color: black;
}

.display {
  display: flex;
  padding: 20px 0px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  column-gap: 60px;
}

.icones {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
</style>
