<template>
  <div class="tela">
    <div class="login">
      <h1>Bem vindo a Ideal Saúde</h1>
      <img src="../../assets/image/login.png" alt="Login" width="200" />
      <h2>Efetue seu login para continuar</h2>
      <form class="form">
        <div class="label-float">
          <input type="text" placeholder=" " v-model="usuario" style="width: 100%" />
          <label>Usuario</label>
        </div>
        <div class="label-float">
          <input type="password" placeholder=" " v-model="senha" style="width: 100%" />
          <label>Senha</label>
        </div>
        <Button style="margin-top: 12px" palavra="Login" @clique="entrar()" />
      </form>
      <h2>Não possui login?<br />Clique para criar conta</h2>
      <Button style="margin-top: 12px" palavra="Criar" @clique="criar()" />
    </div>
  </div>
</template>

<script>
import Button from "@/components/atoms/Button.vue";

export default {
  name: "LoginTemplate",
  components: {
    Button,
  },

  data: function () {
    return {
      usuario: "",
      senha: "",
    };
  },

  methods: {
    async entrar() {
      const user = {
        usuario: String,
        senha: String,
      };

      user.usuario = localStorage.getItem("Usuario");
      user.senha = localStorage.getItem("Senha");
      console.log(user);
      console.log(this.usuario, this.senha);
      if (user.usuario == this.usuario && user.senha == this.senha) {
        this.$router.push("/home");
      } else {
        window.alert("Usuario incorreto");
      }
      // this.$router.push("/home");
    },

    criar() {
      this.$router.push("/criar-usuario");
    },
  },
};
</script>

<style scoped>
.tela {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 70px;
}

.label-float {
  position: relative;
  padding-top: 13px;
  width: 100%;
}

.label-float input {
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  font-size: 16px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
  border-radius: 0;
}

.label-float input:focus {
  border-bottom: 2px solid #3951b2;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float input:required:invalid + label {
  color: red;
}
.label-float input:focus:required:invalid {
  border-bottom: 2px solid red;
}
.label-float input:required:invalid + label:before {
  content: "*";
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
  font-size: 13px;
  margin-top: 0;
  color: #3951b2;
}
</style>
